{
  "env": {
    "browser": true,
    "amd": true
  },
  "rules": {
    "quotes": [2, "single"],
    "new-cap": 0,
    "complexity": [1, 10],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "semi": [2, "always"],
    "camelcase": 2
  }
}
