{
  "env": {
    "browser": true,
    "amd": true,
    "jasmine": true
  },
  "rules": {
    "quotes": false,
    "new-cap": 0,
    "complexity": [1, 10],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "semi": [2, "always"],
    "camelcase": 2
  },
  "globals": {
    "assert": true
  }
}
