@import 'nib'
@import 'svg'

html
  height 100%

body
  margin 0
  height 100%

div#steps
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column

.content-container
  position absolute
  left 0
  top 0
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column
  pointer-events none

  div
    position relative
    pointer-events all

.container
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column
  pointer-events none

input[type=text]
  box-sizing border-box

.blue
  fill blue

.button-row
  width 100%
  pointer-events all
  text-align left
  flex-shrink 0
  button
    margin-right 10px
  div
    margin 10px

#context-menu button
  display none
