html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

div#input {
    border: solid 2px darkgray;
    border-radius: 4px;
    left: 10px;
    top: 10px;
    font-family: sans-serif;
    color: dimgray;
    padding: 20px;
    background-color: white;
    margin: 10px;
}

input[type=text] {
    font-size: 28px;
    width: 100%;
    box-sizing: border-box;
}

circle {
    fill: transparent;
}

circle:hover {
    fill: rgba(255,255,0,0.5);
}

circle.selected {
    fill: rgba(255,255,0,0.5);
}

g.selectionOverlay rect {
    fill: transparent;
}

g.selectionOverlay rect:hover {
    fill: rgba(255,0,255,0.5);
}

g.selectionOverlay rect.selected {
    fill: rgba(255,0,255,0.5);
}
