@import 'nib'
@import 'svg'

html
  height 100%

body
  margin 0
  height 100%

div#steps
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column

.main
  display flex
  flex-direction column
  height 100%

.header
  background-color #808080
  font-size 32px
  font-weight 100
  font-family sans-serif
  color white
  padding 5px 10px

.body
  display flex
  flex-direction row
  flex-grow 1

.math-content
  flex-grow 1
  position relative

.menus
  width 200px
  flex-shrink 0
  display flex
  flex-direction column

  div
    font-size 18px
    font-family sans-serif
    font-weight 100
    color white

ul
  padding 0
  margin 5px 0
  list-style-type none

  li
    padding 10px 20px

  li:hover
    cursor pointer

.global-menu
  background-color rgb(0,192,192)
  flex-grow 0
  flex-shrink 0

#context-menu
  height 100%
  background-color rgb(0,128,128)
  flex-grow 1

  li
    display none

.content-container
  position absolute
  left 0
  top 0
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center
  flex-direction column
  pointer-events none

  svg
    pointer-events all


input[type=text]
  box-sizing border-box

.blue
  fill blue
