svg g
  fill rgb(64,64,64)

g.selection-overlay.active
  circle, rect
    fill transparent

  circle:hover, circle.selected
    fill rgba(255,255,0,0.5)

  rect:hover, rect.selected
    fill rgba(255,0,255,0.5)
